html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}

.dark-mode {
  background: #343a40;
  transition: background-color 0.25s ease-out;
}
.light-mode {
  background: #ffffff;
  transition: background-color 0.25s ease-out;
}

.navBar {
  width: "100%";
}

.myform{
  padding: 0px 20px;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn {
  border-radius: 4px;
}

.Cus {
  padding: 2px;
}

.child {
  margin-bottom: 150px;
}
.logos {
  transition: all 0.2s ease-in-out;
}
.logos:hover {
  transform: scale(1.1);
}

.signout:hover {
  cursor: pointer;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: -4px;
  background: #fff;
  opacity: 0.9;
  background-color: #ffc107;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}
